 

/**
 *  START FREEBIE STYLES
 */

 	/*! Font Faces */
 /*! Freebie Skelet */
	ul.expmenu {
	width: 250px;
}
ul.expmenu * {
	list-style: none;
}
ul.expmenu > li > div.header {
	padding: 12px;
 }
ul.expmenu > li:last-child > div.header {
	border-bottom: none;
}
ul.expmenu > li ul li {
	background-color: #ececec;
	padding:9px 23px;border-bottom:#CECECE 1px solid;
 	color: #000000;
	font-size:18px; 
 }
ul.expmenu > li ul li:last-child {
	border-bottom: none;
}
ul.expmenu > li ul li.selected {
	background-color: #f4f4f4;	color:#000; 

}

 
ul.expmenu div.header {
	color: #fff;
	font-size:18px;
 	background: #4d7fb8; /* Old browsers */
 }
ul.expmenu > li > div.header > .label {
	padding-left: 0px;
	background: no-repeat;
}
ul.expmenu > li > div.header > .arrow {
	display: block;
	width: 16px;
	height: 16px;
	background: no-repeat center;
	float: right;
}
ul.expmenu > li > div.header > .arrow.up {
	background-image: url(../images/arrow_u.png);
}
ul.expmenu > li > div.header > .arrow.down {
	background-image: url(../images/arrow_d.png);
}
/* Mouse Events */
		ul.expmenu div.header:hover {
	background: #4571a0; /* Old browsers */
 	cursor: pointer;
}
 ul.expmenu > li ul li:not(.selected):hover {
 background: #e7e7e7; /* Old browsers */
 cursor: pointer;
}
 ul.expmenu > li ul li:not(.selected):active {
 background: #f1f1f1; /* Old browsers */
 cursor: pointer;
}
/**
 *  END FREEBIE STYLES
 */
	

/**
 *	Not important styles
 */
 ul#pagination-freebie {
	display: table;
	padding-right: 20px;
	margin: 20px auto;
	list-style: none;
}
ul#pagination-freebie:last-child {
	padding-right: 0;
}
ul#pagination-freebie li {
	float: left;
	margin-bottom: 20px
}

ul#pagination-freebie li  a{
color:#666666;
 
 }

ul#pagination-freebie li:last-child {
	margin-right: 0;
}
div#text {
	text-align: center;
	font-size: 48px;
	width: 610px;
	margin: 0 auto;
	margin-top: 50px;
	margin-top: 80px;
}
div#smalltext {
	text-align: center;
	font-size: 15px;
	width: 600px;
	margin: 0 auto;
}
div#content {
	display: table;
  }
 