.box01{ width:800px; margin:0px auto; position:relative;}
.box01 li{ float: left; width: 170px; text-align: center; padding-right: 10px; margin-right: 10px; height: 120px; margin-bottom: 15px; cursor: pointer; z-index:0; position:relative; border:#eeeeee solid 1px;}
.box01 li img{ height: 120px; margin: 0 auto;}
.box01 li .in{ position: absolute; left: 0; top: 0;width: 180px; }
.box01 li .in p{ display: none; text-align: left;}
.box01 li.on{ z-index:99;}
.box01 li.on .in{ padding: 5px; border: 1px solid #ccc; position:absolute;z-index:100; width:auto; text-align: center; top:-40px;  background: #fff;}
.box01 li.on .in p{ position:relative; display:block; }
.box01 li.on img{ height: auto; margin-bottom: 8px;width:400px;}
.bsc{position:absolute; right:10px; width: 19px; height: 15px; font-size: 0; float:right;}