/*
Powered By www.toprand.com
*/
.user_problem {
	MARGIN: 10px; WIDTH:820px
}
.user_problem H2 {
	LINE-HEIGHT: 26px; MARGIN-BOTTOM: 5px; COLOR: #d41f2b; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
.user_problem .box {
	BORDER-BOTTOM: #ccc 1px solid; BORDER-LEFT: #ccc 1px solid; PADDING-BOTTOM: 10px; BACKGROUND-COLOR: #f6f6f6; PADDING-LEFT: 10px; PADDING-RIGHT: 10px; MARGIN-BOTTOM: 15px; FONT-SIZE: 12px; BORDER-TOP: #ccc 1px solid; BORDER-RIGHT: #ccc 1px solid; PADDING-TOP: 10px
}
.user_problem .box H4 {
	LINE-HEIGHT: 26px;
	PADDING-LEFT: 15px;
	MARGIN-BOTTOM: 5px;
	COLOR: #000;
	FONT-WEIGHT: bold;
	background-image: url(../images/q.png);
	background-repeat: no-repeat;
	background-position: left center;
}
.user_problem .box .info {
	LINE-HEIGHT: 20px; MARGIN: 0px 0px; BORDER-TOP: #ccc 1px solid; PADDING-TOP: 10px;PADDING-LEFT: 15px;
	background-image: url(../images/a.png);
	background-repeat: no-repeat;
	background-position: left 12px;
}
  /*Reset*/
html,div,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,img,form,embed,label.html,a{ font-family:Verdana, Arial, Helvetica, sans-serif;margin:0;padding:0;border:0;   color:#666;}
.font_lexiang{ color:#FC1800;}
html,div,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,img,form,embed,label.html{ font-size:14px;}
a{text-decoration:none;}
body{ background-color:#E3E3DF;}
img{border:none}
object{ display:block;}
ul,ul li{ list-style:none;margin:0;padding:0} 

.new_line{
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d2e5f0;
	background: url(../image/news/img.gif) left center no-repeat;
	padding-left:10px;
	font-size:14px;
	line-height:25px;
} 

p{ 
line-height:25px;
/*text-indent: 2em;*/
text-align: justify;
margin:5px 0;}

.bt{background-color:#CC3300; color:#FFFFFF; width:80px; height:25px; line-height:25px; text-align:center; font-size:12px;}

.light{width:155px; height:135px; border:1px dashed #FF0000; float:left; margin-left:9px; margin-bottom:9px;}
.light1{height:35px;background:url(../../images/bg5.jpg) repeat-x 0 -10px; line-height:25px; text-align:left;}

/*7.22*/

/*banner*/
.ban{ float:left; width:100%; margin-bottom:40px;}
.ban img{ display:block;}

/*main*/
.main{width:1200px;margin:0 auto; background-color:#FFF}



/**/

.top{ width:1200px; height:166px; background:url(../images/top_bgen.jpg) bottom center no-repeat;}
 a.top1 {color:#fff;text-decoration:none; font-size:14px;}
 a.top1:visited {color:#fff;text-decoration:none;}
 a.top1:hover {color:#fff;text-decoration:none;}
 a.top1:active {color:#fff;}
/*search*/
.search{float:left; width:200px; margin-top:30px; margin-left:10px; position:absolute;font-size:20px; color:#000; z-index:999;}

.inputt{ width:200px; height:30px; font-family:"Microsoft Jhenghei" }
input,select{ height:25px;}

/**/

.pro{ background:url(../images/pro_bg.jpg) left center no-repeat;}
.zzs{ background:url(../images/bottom_bg.jpg) no-repeat top center ; height:245px; color:#FFF;font-size:14px; line-height:25px;}
.zzs_f{font-size:18px;}
.bottomm{ background:url(../images/bg_img.jpg)  top left repeat-x; height:245px; color:#666s;font-size:14px; line-height:25px;}
.bottomm_f{font-size:16px; font-weight:bold;}

.titilee{ font-size:18px; color:#000; font-weight:bold;}


.leftt{ background-color:#eee; width:215px; height:265px; font-size:20px; padding-top:35px;}

.linee{ height:40px; background:url(../images/linee.gif) repeat-x center center}

.zi1{ font-size:18px; color:#000;}
.zi2{ font-size:14px; color:#666;}
.zi3{ font-size:14px; color:#666; border-bottom:dotted  1px #A0A0A0;}
.zi4{ font-size:18px; color:#1A62AB;}
.zi44{ font-size:35px; color:#000;}

.zi5{ font-size:24px; color:#000;}
.zi6{ font-size:18px; color:#3F3F3F;}


.zi7{ font-size:24px; color:#DF2926;}
.zi77{ font-size:18px; color:#DF2926;}

.zi8{ font-size:18px; color:#666;}
.zi9{ font-size:14px; color:#000;}
.zi10{ font-size:14px; color:#1A62AB;}
.zi88{ font-size:16px; color:#1A62AB;}
.zi11{ font-size:16px; color:#FFFFFF; font-weight:bold;}

.but_sub{height:41px; width:127px; text-align:center; color:#000; font-size:14px; background:url(../images/but_bj.gif) no-repeat; line-height:41px;margin-top:5px; border:none; cursor:pointer; font-weight:bold; display:block}
.but_sub:hover{ background:url(../images/but_bj_on.gif) no-repeat;color:#000;}
.but_ret{height:41px; width:127px; text-align:center; color:#fff; font-size:14px; background:url(../images/but_blue.gif) no-repeat; line-height:41px;margin-top:5px; border:none; cursor:pointer; font-weight:bold;}
.but_ret:hover{background:url(../images/but_blue_on.gif) no-repeat;}