@charset "utf-8"; 
 body{font-family:"微软雅黑"; font-size:12px; line-height:24px; color:#555; background:url(../images/bg.jpg)  repeat-x top #fff;}
*{margin:0; padding:0;}
a{outline:none; color:#555; text-decoration:none}
.clear{clear:both; font-size:0px; padding:0; margin:0}
img{border:none; margin:0 auto}
ol, ul, li{list-style:none}
p{margin:0px 0 12px 0;}
/* new clearfix */
.clearfix{overflow:hidden;_zoom:1;}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;_zoom: 1;}
/*==========header=========*/
#header{margin:0 auto;height:164px;width:100%;background:url(../images/bg1.jpg) no-repeat left bottom }
.head{margin:0 auto;height:114px;width:980px;background:url(../images/topbg.jpg) no-repeat right;}

#header .logo{float:left;height:90px;width:350px; margin-top:14px; }
#header .righttext{float:right;width:300px;color:#000000;font-weight:bold;padding-top:10px;}
#header .righttext a{padding-right:10px;}
#header .righttext .color:hover{color:#F90; text-decoration:underline;}
  /*==========menu=========*/
.nav{width:980px;margin:0 auto;height:46px;background:url(../images/bg2.jpg) repeat-x}
.nav .menu{width:770px;float:left;height:42px;}
.menu li{float:left;height:42px;width:80px;background:url(../images/menubg.png) no-repeat; position:relative}
.menu li a{float:left;text-align:center;line-height:42px;font-size:14px;display:block;color:#fff;font-weight:bold;background:url(../images/menuline.jpg) no-repeat right;width:80px;}
.menu li a:hover,.menu li a.proc{color:#fabc1c;background:url(../images/menuline.jpg) no-repeat right;}
.menu li.last a{ background:none;}
.menu li blockquote{width:100%;left:0;top:42px;padding-top:1px; z-index:2;position:absolute; display:none; background:#008660;}
.menu li blockquote a{float:left;width:100%;padding:3px 0 3px 0;line-height:26px;height:auto;font-size:12px; color:#fff;background:none;}
.menu li blockquote  a:hover{color:#fff;background:#ff6600;}
 
#header .search{float:right;height:43px;width:173px;color:#555;padding-left:30px;background:url(../images/menubg1.jpg) no-repeat left; margin-top:0;}
#header .search .input01{float:right;border:none;line-height:26px;height:26px;width:117px;font-size:12px;color:#555;background:url(../images/sear.jpg) no-repeat left;padding-left:5px;margin-top:9px;}
#header .search .see{margin:9px 6px 0 0;color:#666; display:block;width:28px;height:26px;float:right;  }

  /*==========banner=========*/
.banner{width:1000px;margin:0 auto;margin-top:8px; overflow:hidden}
.banner img{float:left}
 /*==========主体=========*/
#container{margin:0 auto;background:#fff; height:auto;text-align:left;overflow:hidden;padding-top:8px;width:980px; }
/*==========首页=========*/
.left01{float:left;width:360px;}
.left01 .titlename{ line-height:35px;height:35px;float:left;width:100%;color:#333;margin-bottom:5px;background:url(../images/line.jpg) repeat-x;margin-top:10px;}
.left01 .titlename img{float:left;padding-left:4px;margin-top:4px;}
.left01 .titlename a{float:right;display:block;width:60px;}
.left01 .text{float:right;width:99%;}
.left01 dl{float:left;padding-top:2px;width:100%;}
.left01 dl dd{float:left;width:73%;}
.left01 dl dd a{float:left;background:url(../images/dot0.jpg) no-repeat left center;display:block;width:92%; white-space: nowrap;text-overflow:ellipsis; overflow:hidden; text-align:left; line-height:24px;padding-left:8px;}
.left01 dl dd a:hover{color:#007654;text-decoration:underline}
.left01 dl dt{float:left;font-weight:normal;width:70px;}


   /*  图片幻灯片 开始*/
.slideBox{width:350px;height:230px;float:left; position:relative;border:1px solid #ccc}
.slideBox .slides{position:relative;margin:0 auto;width:350px;height:230px;overflow:hidden;display: block;}
.slideBox .slides li{position:absolute; top:0; left:0; overflow:hidden}
.slideBox .slides li img{display:block; width:100%; max-width:none}
.slideBox .slides li.active{display:block; position:relative}
.slideBox .crop li img{width:auto}

.slideBox .pager{width:120px; height:22px;position:absolute; right:0px; bottom:0px;z-index:1;}
.slideBox .pager li{display:inline-block;float:left;margin-right:6px; width:17px; height:17px; line-height:17px; text-align:center;font-size:12px; cursor:pointer;}
.slideBox .pager li a, 
.slideBox .pager li a span{display:block;float:left; width:17px; height:17px;color:#333; cursor:pointer}
.slideBox .pager li a span{background:#9fd3c2;}
.slideBox .pager li.active a span{background:#007655;color:#fff; text-decoration:none}
   /* 图片幻灯片  结束*/

.left02{float:left;width:350px;margin-left:2px;}
.left02 .intro{float:left;width:350px;border:1px solid #ddd;margin-bottom:8px;padding-bottom:5px;}
.left02 .intro2{float:left;width:350px; height:236px;border:1px solid #ddd;margin-bottom:5px;padding-bottom:5px;}
.left02 .name{ line-height:29px;height:29px;float:left;width:100%;color:#fff;margin-bottom:5px;background:url(../images/titlebg.jpg) repeat-x;border-bottom:1px solid #ddd;}
.left02 .name ul{float:right;width:98%;}
.left02 .name ul li{width:100px;height:29px;float:left;font-weight:bold;font-size:14px;}
.left02 .name ul li a{color:#fff; text-align:center; line-height:29px;width:88px;float:left;font-weight:bold;font-size:14px;}
.left02 .name ul li a:hover,.left02 .name ul li a.sec{background:url(../images/chose01.jpg) no-repeat;}
.left02 .name a{float:right;display:block;color:#fff;padding-right:10px;}
.left02 .name span{float:left;padding-left:10px;font-weight:bold;font-size:14px;}


.left02 .text{float:left;width:97%;padding-left:8px;height:236px;}
.left02 .text span{border-bottom:1px  dashed #ddd;float:left;width:100%;padding:6px 0;margin-bottom:4px;}
.left02 .text h2{font-size:14px;font-weight:bold; text-align:center;color:#ff6600;}

.left02 dl{float:left;padding-top:1px;width:100%;}
.left02 dl dd{float:left;width:78%;}
.left02 dl dd a{float:left;background:url(../images/dot0.jpg) no-repeat left center;display:block;width:96%; white-space: nowrap;text-overflow:ellipsis; overflow:hidden; text-align:left; line-height:24px;padding-left:8px;}
.left02 dl dd a:hover{color:#007654;text-decoration:underline}
.left02 dl dt{float:left;font-weight:normal;width:70px;}

.left02 .intro .pic{float:left;width:96%;padding-left:8px;}
.left02 .intro .pic a{float:left;display:block;width:112px;line-height:20px;padding-bottom:0px;}
.left02 .intro .title{float:left;width:96%;height:25px;padding-left:8px;padding-top:4px;}
.left02 .intro .title a.more{float:right;color:#ff6600;}
.left02 .intro .title span{color:#005c41;font-weight:bold;float:left;}
.left02 .intro .title a:hover{color:#005c41}

.left02 .intro .pic1{float:left;width:96%;padding-left:8px;}
.left02 .intro .pic1 a{float:left;display:block;width:80px;line-height:20px;padding-bottom:0px;}

.left02 .intro2 .pic{float:left;width:96%;padding-left:8px;}
.left02 .intro2 .title{float:left;width:96%;height:25px;padding-left:8px;padding-top:4px;}
.left02 .intro2 .title a.more{float:right;color:#ff6600;}
.left02 .intro2 .title span{color:#005c41;font-weight:bold;float:left;}
.left02 .intro2 .title a:hover{color:#005c41}

.left02 .intro2 .pic1{float:left;width:96%;padding-left:8px;}
.left02 .intro2 .pic1 a{float:left;display:block;width:80px;line-height:20px;padding-bottom:0px;}

.left03{float:right;width:256px;border:1px solid #ccc;padding-top:10px;background:url(../images/tu2.jpg) no-repeat center left;height:516px;}
.left03 span{padding:7px 0;float:left;font-weight:bold;font-size:14px;}
.left03 b{font-size:18px;font-weight:bold;}
a.click01{width:76px; height:20px;float:left;color:#fff; line-height:20px; display:block; text-align:center;background:url(../images/tu3.jpg) no-repeat center left}
.left03 .input01{ line-height:26px;height:26px;border:1px solid #ddd;width:210px;font-size:12px;padding-left:5px;}

.scott{font-size:12px;float:right;margin:3px; padding:15px 0 15px 0;width:60%;}
.scott a{padding:0 5px;color:#333;line-height:12px;height:12px;margin-right:2px;border:1px solid #198054}
.scott a:hover,.scott a:active,.scott .current{margin-right:2px;background:#198054;color:#fff}
 
 /*==========left=========*/
#left{width:256px;float:left;}
#left .proname{float:left;width:256px;height:31px;line-height:29px;font-size:14px;font-weight:bold;color:#fff;border:1px solid #ddd;border-bottom:none }
#left .proname span{float:left;width:240px;margin:1px;background:url(../images/titlebg.jpg) repeat-x center;padding-left:14px;}
#left  ul{width:256px;float:left;border:1px solid #ddd;padding-bottom:10px;}
#left  ul li{float:left;width:100%;font-weight:bold;background:url(../images/leftbg.jpg) repeat-x top;}
#left  ul li a{float:left;width:86%; line-height:37px;padding-left:34px;background:url(../images/dot1.gif) no-repeat 20px 14px;display:block;font-size:12px;color:#545454}
#left ul li a:hover,#left ul li a.current{color:#007454;background:url(../images/dot2.gif) no-repeat 20px 14px;font-weight: bold}

#left ul li dl{float:left;width:256px;}
#left  ul li dl dt{background:url(../images/leftbg.jpg) repeat-x top;float:left;width:100%;}
#left  ul li dl dt a{font-weight:normal;width:80%;float:right; line-height:37px;padding-left:24px;background:url(../images/dot3.jpg) no-repeat 10px 18px;}
#left  ul li dl dt div{padding-left:20px;width:236px;float:left;border-bottom:1px dashed #cbcdcc;}
#left  ul li dl dt div a,#left  ul li dl dt div a:hover,#left  ul li dl dt div a.current{background:none}
#left  ul li dl dt a:hover,#left  ul li dl dt a.current{font-weight:normal;background:url(../images/dot3hover.jpg) no-repeat 10px 18px;}

#left .cc{float:left;width:100%;margin-top:15px;border:1px solid #ddd;}

#left .soroll{float:left;width:256px;margin-bottom:8px;margin-top:10px;overflow:hidden;height:190px;}
#left .soroll img{float:left;width:256px;padding-bottom:5px;}
#left .soroll dd{float:left;}

 /*==========会员中心左侧=========*/
#sidebar{width:256px;float:left;}
#sidebar .proname{float:left;width:256px;height:31px;line-height:29px;font-size:14px;font-weight:bold;color:#fff;border:1px solid #ddd;border-bottom:none }
#sidebar .proname span{float:left;width:240px;margin:1px;background:url(../images/titlebg.jpg) repeat-x center;padding-left:14px;}
#sidebar  ul{width:256px;float:left;border:1px solid #ddd;padding-bottom:10px;}
#sidebar  ul li{float:left;width:100%;font-weight:bold;background:url(../images/leftbg.jpg) repeat-x top;}
#sidebar  ul li a{float:left;width:86%; line-height:37px;padding-left:34px;background:url(../images/dot4.jpg) no-repeat 20px 14px;display:block;font-size:12px;color:#006b4d}
#sidebar  ul li a:hover,#sidebar ul li a.current{ text-decoration:underline;color:#2a8b18}
#sidebar ul li dl{width:100%;float:left;border-bottom:1px dashed #cbcdcc;}
#sidebar ul li dl dt{padding-left:20px;width:236px;float:left;}
#sidebar  ul li dl dt a{font-weight:normal;width:86%; line-height:30px;padding-left:15px;background:url(../images/dot5.jpg) no-repeat 0px 8px;color:#555;}

  /*==========right=========*/
#right{width:707px;float:right; background:#fff;}
#right .title{width:695px;padding-right:10px;height:24px;line-height:24px;margin-bottom:3px;color:#333;}
#right .title span{font-size:12px;color:#007454}
#right .title a{padding-right:3px;}
#right .title a:hover{text-decoration:underline;color:#007454}
 #right .titlename{width:705px;margin-top:15px;color:#333;height:33px;border:1px solid #ddd;background:url(../images/namebg.jpg) repeat-x; position:relative;border-bottom:2px solid #007454;}
#right .titlename span{font-size:14px;background:url(../images/title01.png) no-repeat;color:#fff;width:180px;height:39px; position:absolute;left:0;top:-5px;line-height:39px; text-align:center }
 
#right .titlename a.more{float:right;display:block; line-height:33px;width:48px}
 
.description{width:100%;margin:0 auto;float:right;padding-bottom:6px; padding-top:10px}
.description ul{float:left;width:100%; }
.description ul li{float:left; width:133px; margin-right:8px;_margin-right:6px;line-height:17px;padding-bottom:10px;}
.description ul li img{margin:0 auto;display:block;margin-bottom:6px;}
.description ul li a{width:100%;margin:0 auto; display:block; text-align:center }
.description ul li a:hover{color:#cd0102}
.description ul li span{height:34px; display:block}
.description ul li b{color:#cd0102;font-weight:bold; text-align:center; width:100%; display:block;}


#right .banner{float:left;width:707px;padding-bottom:6px;}
#right .title01{float:right;width:47%; line-height:24px;height:24px;}
#right .title01 a{color:#b2b2b2;}
#right h2{font-size:18px;padding-bottom:15px;}

#right .name01{float:left;width:705px;height:31px;line-height:29px;font-size:14px;font-weight:bold;color:#fff;border:1px solid #ddd;background:url(../images/tag.jpg) repeat-x;border-bottom:none;}
#right .name01 ul{float:left;width:100%;}
#right .name01 ul li{height:30px;float:left;margin-right:1px; }
#right .name01 ul li a{ text-align:center; line-height:30px; width:110px; text-align:center;float:left;font-weight:bold;background:url(../images/line.jpg) no-repeat right;}
#right .name01 ul li a:hover,#right .name01 ul li a.sec{background:url(../images/titlebg.jpg) repeat-x center;color:#fff;}
#right .des04{float:left;width:685px;border:1px solid #ddd;padding:10px;min-height:500px;height:auto!important;height:500px;}



#right .about{width:98%;float:left;padding:17px 0 0 7px; font-size:12px}
#right .about .name{margin:0px auto 10px auto; text-align:center;height:auto;width:100%; color:#555;line-height:24px;border-bottom:1px dashed #ddd;}
#right .about .name span{font-weight:bold; display:block;font-size:20px;color:#555;width:100%; line-height:30px;padding-bottom:4px;}


#right h2{font-weight:bold;font-size:14px; text-align:center; line-height:34px;padding:4px 0;border-bottom:1px dashed #ddd;color:#f00}
#right .bigpic{float:left;width:250px;}
#right .bigpic img{border:1px solid #ddd;}
#right .baseinfo{width:440px;float:right;padding-top:10px;}
#right .baseinfo .item{ float:left;width:100%;line-height:26px;}
#right .baseinfo .item .numb{border:1px solid #ccc;width:13px; float:left;display:inline-block; text-align:center;height:13px;margin-top:0px;line-height:13px;}
#right .baseinfo .item  .input01{width:30px; line-height:16px;height:16px;border:1px solid #ccc; float:left;margin:0 3px;}

#right .title02{float:left;width:705px;height:31px;line-height:29px;font-size:14px;font-weight:bold;color:#fff;border:1px solid #ddd;border-bottom:none}
#right .title02 span{float:left;width:689px;margin:1px;background:url(../images/titlebg.jpg) repeat-x center;padding-left:14px;}

#right .des01{float:left;width:705px;border:1px solid #ddd;padding-top:15px;padding-bottom:20px;}
#right  .yellow{float:left;width:692px;border-bottom:1px dashed #ddd;padding-bottom:5px;padding-left:15px;font-size:16px;color:#ff6600;font-weight:bold}
#right .des01 dl{float:right;width:98%;margin-top:10px;}
#right .des01 dl dd{width:17%;color:#007454;font-size:13px;float:left; line-height:16px;}
#right .des01 dl dt{width:83%;color:#007454;font-size:12px;float:left;}
#right .des01 dl dt a{float:left;width:180px;height:25px; line-height:25px;border:1px solid #add1c7;background:url(../images/downbg.jpg) repeat-x; text-align:center;margin-right:8px;margin-bottom:7px; }

#right .service{float:left;width:675px;padding-top:15px;padding-left:20px;padding-right:10px;padding-bottom:20px;border:1px solid #ddd;}
#right .service dl{float:right;width:100%;padding-top:14px;border-bottom:1px dashed #ddd;}
#right .service dl dt{width:105px;font-size:12px;background:url(../images/pbg.jpg) no-repeat;float:left; text-align:center;height:155px;}
#right .service dl dt a{color:#00694b;}
#right .service dl dt img{margin:0 auto; display:block;padding-top:6px;}
#right .service dl dd{width:80%;font-size:13px;float:left; line-height:16px;float:left;padding-left:10px; line-height:20px;}
#right .service dl dd h3{height:25px;line-height:25px; display:block;margin-bottom:3px;font-size:12px;}
#right .service dl dd a{background:url(../images/arrow.jpg) no-repeat left;color:#006749;padding-left:20px; display:block; line-height:40px;}
#right .service .pic{width:105px;height:119px;float:right;background:url(../images/pbg2.jpg) no-repeat top center;padding:4px 10px;}
#right .service .pic img{margin:0 auto; display:block;}

#right .des01 .text{float:left;width:692px;margin-top:10px;margin-bottom:10px;padding-left:15px;}
#right .des01 .text a:hover{color:#007454;}
 
#right .des02{width:670px;padding:0 0 10px 0;float:left;}
#right .yellow01{width:750px;border-bottom:1px dashed #ddd;padding-bottom:5px;padding-top:10px;padding-left:15px;font-size:16px;color:#ff6600;font-weight:bold;float:left;}

#right .des03{float:left;width:94%;padding:0 0px 0 20px; }

#right .table01{float:left;width:684px;text-align:center;background:#ddd;margin-top:10px;}
#right .table01 th{color:#006b4d;font-size:14px;line-height:30px;}
#right .table01 tr{background:#fff;}
#right .table01 td{ line-height:30px;}
#right .table01 a{color:#ff0000; text-decoration:underline}

#right .input01{border:1px solid #ddd;height:24px; line-height:24px;padding-left:5px;width:300px}
#right .input02{border:1px solid #ddd;height:24px; line-height:24px;padding-left:5px;width:180px}
/*==========新闻=========*/
#right .news{width:690px;float:left; padding:15px 0 0 5px;}
#right .news dl{float:left;width:100%;padding-bottom:4px;margin-bottom:4px;border-bottom:1px dashed #ddd;}
#right .news dl dd{float:left;width:80%;margin-left:4px;}
#right .news dl dd a{float:left;background:url(../images/dot2.jpg) no-repeat left center;display:block;width:98%; white-space: nowrap;text-overflow:ellipsis; overflow:hidden;padding-left:16px;font-size:13px;}
#right .news dl dd a:hover{color:#007454;}
#right .news dl dt{float:right;font-weight:normal;width:90px;font-size:13px;}


/*==========新闻=========*/
#container .title03{float:left;width:978px;height:31px;line-height:29px;font-size:14px;font-weight:bold;color:#fff;border:1px solid #ddd;border-bottom:none}
#container .title03 .bg{float:left;width:962px;margin:1px;background:url(../images/titlebg.jpg) repeat-x center;padding-left:14px; position:relative}
#container .title03 .search{ position:absolute;top:3px;right:10px;width:200px;height:24px;background:url(../images/search.jpg) no-repeat;}
#container .title03 .other{ position:absolute;top:0px;right:17px;height:24px;font-size:12px;}
#container .title03 .other a{color:#fff000}

#container .title03 .search input{ background:none; border:none; line-height:24px;height:24px;padding-left:8px;color:#0d6e66;}
.content{margin:0 auto;border:1px solid #ddd;border-top:none;float:left;width:978px;}
.content .say{width:380px;height:200px;float:left;background:url(../images/aa.jpg) no-repeat;}
.content .say textarea{margin-top:50px;float:left;margin-left:20px;width:340px;height:90px;border:1px solid #ddd;padding:5px;font-size:12px;color:#555;}
.content .say .item{float:left;width:90%;padding-left:20px;padding-top:10px;}
.content .say select{float:left;margin-top:4px;margin-right:6px;}

.content .saydiv{padding-left:20px;padding-top:10px;color:#ff771c;font-size:15px; line-height:35px;}
.content .saydiv img{float:left;}

.content .say1{width:950px;margin:10px auto;border:1px solid #ddd;overflow:hidden; }
.content .ask{width:930px;margin:0 auto;border-bottom:1px dashed #ddd;padding:5px 10px;height:86px;}
.content .ask .a1{float:left;width:105px;display: inline;}
.content .ask .a2{float:left;width:815px;position:relative;}
.content .ask .a2 span{ display:block;}
.content .ask .a2 .date{ position:absolute;top:0; right:0; text-align:right;color:#9b9b9b;width:300px;}
.content .ask .a2 .ok{ position:absolute;top:60px; right:0; text-align:right;color:#eb7611;width:132px;height:20px;background:url(../images/c3.jpg) no-repeat }
.content .ask .a2 .ok .b1{ line-height:20px;padding-left:40px; display:block;float:left;}
.content .ask .a2 .ok .b2{ line-height:20px;padding-left:60px; display:block;float:left;}
.content .answer{width:930px;margin:0 auto;padding:5px 10px;height:86px;}
.content .answer .a1{float:left;width:105px;}
.content .answer .a2{float:left;width:815px;position:relative;display: inline;}
.content .answer span{ color:#007fa9;display:block;}
.content .answer .date{ position:absolute;top:0; right:0; text-align:right;color:#9b9b9b;width:300px;}

/*==========登录页面=========*/
.content01{height:auto;text-align:left;margin:0 auto;width:540px;float:left; }
.content02{height:auto;text-align:left;margin:15px auto;width:400px;border-left:1px solid #ddd;float:left;height:240px;padding-left:30px; }
.content01 .table01{width:750px;margin:0 auto;}
.content01 .table01 input,.content .table input{ line-height:30px;height:30px;border:1px solid #ccc;width:310px;font-size:12px;}
.content01 .table01{float:left;width:98%;}
.content01 .table01 .input2{width:auto; line-height:18px;border:none;}

.content .table .dd{color:#999;font-size:14px;}
.content .table .color{color:#ea0011;font-weight:bold; font-size:16px; line-height:40px;}
.content .table .input1{width:130px;}
.content .table a,.content .table01 a{color:#375092; text-decoration:underline}
.content .table #con{
 	border: 1px solid #CCCCCC;
    color: #666666;
    height: 80px;
    margin: 0 auto;
    overflow-y: scroll;
    padding: 8px;
    width: 600px;
}
#content .table #con h4{padding-bottom:10px;font-size:14px;text-align:center;}

.table2{ margin:0 auto;width:450px; line-height:40px;color:#114335;font-weight:bold; }
.table2 td{ background:#fff;padding-left:0px;}
.table2  .in{border:1px solid #4d8a79;height:24px; line-height:24px;padding-left:5px;width:220px}


 /*==========用户中心=========*/
 .help{margin:0 auto;width:94%;line-height:40px; margin-top:10px; background:#FFFDEE;border:1px solid #EDD28B;padding-left:10px;height:160px;}
.help .table1{float:left;width:300px; background:#F8E0A1;margin-bottom:25px;}
.help .table1 tr{ background:#fff;}
.help .table1 td{padding-left:10px;line-height:20px; }
.help .table02{float:left;width:650px; background:#F8E0A1}
.help .table02 tr{ background:#fff;}
.help .table02 td{padding-left:5px;line-height:30px;padding-left:10px;}
.help .blue{color:#005EA7;font-size:12px;}
.help b{font-size:18px;font-weight:normal}

.related{float:left;width:705px;border:1px solid #ddd;padding-bottom:20px;}
.related table{float:left; width:100%;}
.related table td{border-bottom:1px dashed #ccc;}
.related .top{line-height:32px;height:32px;background:#fffdee; }
  
.address{width:705px;float:right;border-top:1px solid #ddd;border-bottom:1px solid #ddd;margin-bottom:20px;}
.address .top{height:36px; line-height:36px;width:690px;float:left;border-bottom:1px solid #ddd;padding-left:15px;}
.address .top span{font-weight:bold;font-size:16px;float:left}
.address .top a{padding-top:4px;float:right; display:block;margin-top:5px;margin-right:10px;}
.address .table{width:705px;float:left;}
  
  
 /*==========订单=========*/
.chose03 {float:right;width:700px;height:33px;margin-bottom:10px;}
.chose03  a{ width:97px;height:27px; line-height:27px; display:block; font-weight:bold; float:left; text-align:center;}
.chose03  a.sec,.chose03 a:hover{color:#ea0011;}
.order{width:100%;margin:0 auto;float:left;padding-bottom:10px;}
.order .top{ background:#EFEFEF; line-height:30px;font-weight:bold}
.order .top td{border:none}
.order td{margin-bottom:6px; line-height:30px;border-bottom:1px dashed #ccc}
.order td .color{color:#005EA4;}
.check{float:right;width:694px;text-align:left}
.check .title2{width:670px;line-height:26px;height:56px; background:#f7efef;border:1px solid #e2d6d6;padding-left:10px;margin-top:15px;}
.check01{border:1px solid #ccc; background:#EDEDED;float:left;width:680px;height:auto;margin-top:15px;padding-bottom:10px;}
.check01 .name{padding-left:10px; line-height:30px;font-size:15px;margin-top:5px;float:left;width:98%; display:block;font-weight:bold}
.check01 .desc{ background:#fff;width:640px;margin: 5px auto  0px 10px;padding:20px 10px;float:left}
.check .table02{float:left;width:682px; background:#fff;border:1px solid #ddd;border-bottom:none}
.check .table02 td{border-bottom:1px  solid #ddd;line-height:50px;}
.check .table02 .top{background:#f0f0f0;}
.check .table02 a{color:#005aa0}
.check .desc1{margin:10px auto;padding-bottom:8px;padding-left:5px;float:left;width:630px;border-top:1px  solid #ddd;border-bottom:1px  solid #ddd;}
.check .desc3{padding-bottom:20px;float:left;width:660px;background:#EDEDED; text-align:right;padding:10px;font-size:18px; line-height:40px;border:1px solid #ddd;border-top:none}
.check .desc3 .allpay{width:300px;float:right; height:60px; text-align:center;border-bottom:1px solid #ccc;font-size:14px; line-height:26px;margin-right:0px;}
check .desc3 .allpay01{width:300px;float:right;font-size:18px; font-weight:bold;text-align:center; line-height:40px;margin-right:0px;}

  /*购物车*/
.shopcartstep{margin:0 auto;border:1px solid #ddd;border-top:none;float:left;width:978px;padding-bottom:30px;padding-top:10px;}
.shopcartstep ul{float:left;width:98%;height:27px; display:block;margin:12px auto;position:relative;padding-left:10px;}
.shopcartstep ul li{width:185px;float:left;color:#fff; background:url(../images/step1.png) no-repeat top left;text-align:center;color:#000;margin-right:-9px; position:relative; text-indent:-10px} 
.shopcartstep ul li.current{background:url(../images/step2.png) no-repeat top left;color:#fff}
.shopcartstep  li.item1{z-index:3}
.shopcartstep  li.item2{z-index:2}
.shopcartstep  li.item3{z-index:1}
 
.shopcartstep dl{padding-left:20px;width:98%;}
.shopcartstep dt{line-height:30px;} 
.shopcartstep dd{background:url(../images/line2.jpg) no-repeat top left;width:660px;height:29px; padding-top:8px;line-height:20px;float:left;padding-left:10px;}
.shopcartstep .title{width:540px;float:left; line-height:30px;height:30px; background:#FFFFCC;border:1px solid #7eb229;padding-left:10px;margin-left:10px;}
.shopcartstep .title2{width:924px;float:left; line-height:26px;height:56px; background:#f7efef;border:1px solid #e2d6d6;padding-left:10px;margin-left:0px;margin-top:15px;}
.shopcartstep .table01{border:1px solid #DCDFE5;width:952px;padding:1px;margin:0 auto;margin-top:15px;}
.shopcartstep .table01 .top{ line-height:30px; text-align:center;background:#f0f0f0;font-size:14px;}
.shopcartstep .table01  .input01{width:30px; line-height:16px;height:16px;border:1px solid #ccc; float:left;margin:0 1px;}
.shopcartstep .numb{border:1px solid #ccc;width:13px; float:left;display:inline-block; text-align:center;height:13px;margin-top:0px;line-height:13px;}
.shopcartstep .table01 td{ border-bottom:1px solid #DCDFE5;}
.shopcartstep .table01  table td{ border-bottom:none;}
.shopcartstep .desc2{margin:10px auto;padding-bottom:0px;width:950px;}
 .shopcartstep .desc2 b{font-weight:bold;font-size:16px; line-height:46px;padding-left:8px;float:left }
.shopcartstep .desc2 .sub{float:right;width:425px;padding-right:10px;margin-top:10px;} 
.shopcartstep .desc2 .sub input{margin-left:10px; display:block;float:right;}



.shopcartstep01{border:1px solid #ccc; background:#EDEDED;margin:0 auto;width:950px;height:auto;margin-top:15px;padding-bottom:10px; overflow:hidden}
.shopcartstep01 .name01{padding-left:10px; line-height:30px;font-size:15px;margin-top:5px;float:left;width:98%; display:block;font-weight:bold}
.shopcartstep01 .desc{ background:#fff;width:910px;margin: 5px auto  0px 10px;_margin: 5px auto  0px 5px;padding:20px 10px;float:left}
.shopcartstep01 .desc input{border:1px solid #ddd;line-height:20px;height:20px;}
.shopcartstep01 .desc select{border:1px solid #ddd;border-top:1px solid #abadb3;line-height:20px;height:20px;}
.shopcartstep01 .desc .input01{float:left;width:20px;margin-left:0;line-height:20px;margin-top:3px;border:none}
.shopcartstep01 .desc .input4{border:none; line-height:18px;margin-top:0px;}
.shopcartstep01 .desc .table1{float:left;width:890px;border-bottom:1px solid #ccc;}
.shopcartstep01 .desc .table1 td{line-height:26px;}
 .shopcartstep .desc .table1 .top{font-weight:bold;font-size:14px; line-height:30px;border:none}
.shopcartstep01 .desc .table1 .color{color:#f00;padding-left:5px;}
.shopcartstep01 .desc .table1 a.save{color:#f00; text-decoration:underline;font-weight:bold}
.shopcartstep01 .desc .desc1{margin:10px auto;padding-bottom:8px;padding-left:5px;float:left;width:890px;border-bottom:1px solid #ccc;}
.shopcartstep01 .desc .desc1 a:hover{color:#f00; text-decoration:underline}
.shopcartstep01 .desc .table2{float:left;width:880px;}
.shopcartstep01 .desc textarea{width:500px;height:80px;}
.shopcartstep01 .desc .color{color:#f00;padding-left:5px;}



     /*==========footer=========*/
#bottom{width:980px;margin:0 auto;background:url(../images/bottombg2.jpg) repeat-x;height:96px;color:#555;margin-top:7px;}
.bottom01{width:8px;float:left;background:url(../images/bottombg1.jpg) no-repeat left;height:96px;}
.bottom02{width:8px;float:right;background:url(../images/bottombg3.jpg) no-repeat right;height:96px;}
#bottom .pic{margin:0 auto;width:960px;border-bottom:1px dashed #ccc;padding:10px 0 5px 0;margin-bottom:10px;float:left }   
#bottom a{margin-left:10px;margin-right:4px; line-height:24px;color:#003d5f;float:left;}   
#bottom span{margin-left:10px;margin-right:4px; line-height:24px;color:#003d5f;float:left;}   
   
#footer{width:100%;margin:0 auto;height:70px;margin-top:8px;padding-top:15px;line-height:26px;color:#555; background:#cccccc; text-align:center}
#footer span{width:980px;margin:0 auto;}


 /*==========客服=========*/
.box{width:135px;height:400px;background:url(../images/qq.png) no-repeat;z-index:999;color:#333;right:5px;top:145px;position: absolute;}
.box .close{ position:absolute;top:5px; right:5px;width:20px;height:20px; cursor:pointer;z-index:999;}
.box .Qlist{left:0;top:0;width:135px;position: absolute;padding-top:20px;}
.box h2{font-size:16px;color:#555;display:block;padding-top:35px;}
.box span{font-size:17px;display:block;color:#ff6600;text-align:center}
.box ul{width:118px;margin:30px auto 44px auto; display:block;}
.box li{ display:block;line-height:36px;width:100%;margin:0 auto;border-top:1px solid #ddd;}
.box li img{float:left;margin-top:5px;margin-right:2px;}
.box div{width:135px;margin:0 auto;}
.box .item{padding-bottom:3px;padding-left:15px;width:120px; line-height:18px;text-align:center;color:#555;}
.box .item img{margin:0 auto;}



 /*==========滚动=========*/
#scrollDiv{width:100%;height:380px;min-height:25px;line-height:25px;overflow:hidden}
#scrollDiv li{height:25px;padding-left:10px;}

.blue{font-size:14px;color:#007ec1;}