<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DataConnection" value="Server=ms5813699.xincache4.cn;Database=ms5813699;uid=ms5813699;pwd=N3m7N5F6;"/>
    <add key="DataBaseType" value="sqlserver2005"/>
  </appSettings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" executionTimeout="6000000" maxRequestLength="951200" useFullyQualifiedRedirectUrl="true" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" enableVersionHeader="true"/>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>