BODY {
	PADDING-BOTTOM: 25px; OVERFLOW: hidden; BACKGROUND-COLOR: #f2f2f2
}
.deeptree {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; OVERFLOW: auto; WIDTH: 100%; PADDING-TOP: 5px; HEIGHT: 80%; BACKGROUND-COLOR: #f2f2f2
}
.toolbar {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; WIDTH: 100%; PADDING-TOP: 2px; HEIGHT: 25px; BACKGROUND-COLOR: #0b6dd0; TEXT-ALIGN: right
}
TD.node {
	FONT-SIZE: 12px; VERTICAL-ALIGN: middle; COLOR: #000000; FONT-FAMILY: verdana; HEIGHT: 22px
}
#deeptree SPAN {
	BORDER-RIGHT: #f2f2f2 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #f2f2f2 1px solid; PADDING-LEFT: 4px; FONT-SIZE: 12px; PADDING-BOTTOM: 2px; MARGIN-LEFT: 3px; BORDER-LEFT: #f2f2f2 1px solid; CURSOR: hand; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #f2f2f2 1px solid; FONT-FAMILY: verdana; HEIGHT: 20px; BACKGROUND-COLOR: #f2f2f2
}
#deeptree SPAN.NodeOver {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #cccccc
}
#deeptree SPAN.NodeFocus {
	BORDER-RIGHT: #999999 1px solid; BORDER-TOP: #999999 1px solid; BORDER-LEFT: #999999 1px solid; BORDER-BOTTOM: #999999 1px solid; BACKGROUND-COLOR: #ffffff
}
#deeptree INPUT {
	MARGIN-BOTTOM: 2px
}
